<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.maciej.imiela.tilt"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:theme="@android:style/Theme.Holo.NoActionBar"
            android:name=".MainActivity"
            android:label="@string/title_activity_main" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.Holo.NoActionBar"
            android:name=".JTMainMenu"
            android:label="@string/title_activity_spash_screen" android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

</manifest>